body {
    background-color: #F9F8FA;
}

#hamburger {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 40px;
    right: 100px;
    cursor: pointer;
}

#hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    background-color: #737a7d;
    width: 100%;
    right: 0px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

#hamburger span:nth-child(1) {
    top: 0px;
}

#hamburger span:nth-child(2),
#hamburger span:nth-child(3) {
    top: 8px;
}

#hamburger span:nth-child(4) {
    top: 16px;
    width: 60%;
}

#hamburger:hover span:nth-child(4) {
    width: 100%;
}

#hamburger:hover span {
    background-color: #323232;
}

#hamburger.open span:nth-child(1) {
    width: 0%;
    right: 50%;
}

#hamburger.open span:nth-child(2) {
    transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
    width: 0%;
    right: 50%;
}

.about {
    font-family: 'PT Serif Caption', serif;
    color: #323232;
    font-size: 38px;
    font-weight: 600;
    margin-top: 5%;
    letter-spacing: 2px;
    line-height: 100px;
}

.hello {
    background-image: url("./public/hi.svg");
    color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 2%;
    font-size: 38px;
    margin-left: 12%;
}

.text {
    margin-left: 20%;
}

.words span {
    position: absolute;
    opacity: 0;
    -webkit-transform: translateZ(0);
    transition: opacity 0.5s;
}

.words span.active {
    opacity: 1;
}