html,
body {
    background-color: #F9F8FA;
    margin: 0;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

#hamburger {
    position: fixed;
    height: 40px;
    width: 38px;
    top: 5%;
    right: 4%;
    cursor: pointer;
    z-index: 11;
}

#hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    background-color: #737a7d;
    width: 100%;
    right: 0px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

#hamburger span:nth-child(1) {
    top: 0px;
}

#hamburger span:nth-child(2),
#hamburger span:nth-child(3) {
    top: 8px;
}

#hamburger span:nth-child(4) {
    top: 16px;
    width: 60%;
}

#hamburger:hover span:nth-child(4) {
    width: 100%;
}

#hamburger:hover span {
    background-color: #323232;
}

#hamburger.open span,
#hamburger.open span:hover {
    background-color: #fff;
}

#hamburger.open span:nth-child(1) {
    width: 0%;
    right: 50%;
}

#hamburger.open span:nth-child(2) {
    transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
    width: 0%;
    right: 50%;
}

.activeLink {
    opacity: 0.6;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    opacity: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.95);
    background-color: #607cd7;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 2 !important;
}

.overlay-content {
    position: relative;
    top: 20%;
    width: 25%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    font-family: 'Titillium Web', sans-serif;
    padding: 8px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    display: block;
    margin: 10px;
    transition: 0.3s;
    background: linear-gradient( to left, #e66035 0%, #FF5722 100%);
    background-position: 0 100%;
    background-repeat: repeat-y;
    background-size: 0;
    transition: background-size 0.3s ease-in-out;
}

.overlay a.in-active {
    background-position: 0 100%;
}

.overlay a.out-active {
    background-position: 100% 0;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
    background-size: 100%;
}


/* Snowfall CSS */

.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px)
    }
    50% {
        transform: translateX(80px)
    }
    100% {
        transform: translateX(0px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}


/* General Styling */

.skills,
.projects,
.contacts {
    margin-bottom: 10%;
}

.about,
.skills,
.projects,
.contacts {
    font-family: 'PT Serif Caption', serif;
    color: #323232;
}

.about {
    height: 100vh;
}

.hello {
    background-image: url("./public/hi.svg");
    color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 2%;
    font-size: 48px;
    margin-left: 12%;
}

.about h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 6%;
    font-size: 82px;
    font-weight: 600;
    line-height: 120px;
}

.text {
    margin-left: 20%;
    margin-top: -4%;
}

.words span {
    position: absolute;
    opacity: 0;
    -webkit-transform: translateZ(0);
    transition: opacity 0.5s;
}

.words span.active {
    opacity: 1;
}

.container,
.row {
    margin: 0 !important;
    padding: 0 !important;
}

.skills,
.projects,
.contacts {
    width: 100vw !important;
}

.separator {
    width: 5%;
    height: 3px;
    background-color: #506fd4;
}

#skill h1,
#project h1,
#contact h1 {
    font-size: 68px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 2%;
    margin-bottom: 4%;
}

#skill ul {
    color: #6d6d6d;
    font-size: 25px;
    padding-left: 2%;
}

#skill ul li {
    margin-bottom: 3%;
}

#skill a {
    color: #323232;
    padding: 4px;
    display: inline-block;
    transition: 0.4s;
    padding-left: 2%;
    padding-right: 2%;
    cursor: pointer;
    /*    background: linear-gradient( to left, #506FD4 0%, #4d6fdd 100%); */
    background: linear-gradient( to left, #323232 0%, #323232 100%);
    background-position: 0 100%;
    background-repeat: repeat-y;
    background-size: 0;
    transition: background-size 0.4s ease;
}

#skill a.in-active {
    background-position: 0 100%;
}

#skill a.out-active {
    background-position: 100% 0;
}

#skill a:hover,
#skill a:focus {
    color: #2196F3;
    background-size: 100%;
}

#skill ul li a {
    color: #6d6d6d;
    padding-left: 2%;
    padding-right: 2%;
    background: linear-gradient( to left, #8BC34A 0%, #8BC34A 100%);
    background-position: 0 100%;
    background-repeat: repeat-y;
    background-size: 0;
}

#skill .beginner {
    background: linear-gradient( to left, #d048e8 0%, #d048e8 100%);
    background-position: 0 100%;
    background-repeat: repeat-y;
    background-size: 0;
}

#skill .intermediate {
    background: linear-gradient( to left, #f4dd15 0%, #f4dd15 100%);
    background-position: 0 100%;
    background-repeat: repeat-y;
    background-size: 0;
}

#skill .expert {
    background: linear-gradient( to left, #91da3b 0%, #91da3b 100%);
    background-position: 0 100%;
    background-repeat: repeat-y;
    background-size: 0;
}

#skill ul li a:hover,
#skill ul li a:focus {
    color: black;
    background-size: 100%;
}

#skill .box1,
.box2,
.box3 {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}

#skill span {
    font-size: 20px;
}

.box1 {
    background: #d048e8;
}

.box2 {
    background: #f4dd15;
}

.box3 {
    background: #91da3b;
}

.card {
    background: #506FD4 !important;
    color: white !important;
    letter-spacing: 1.2px !important;
    height: 35vh;
    transition: 0.4s ease;
    margin-top: 10%;
}

.card-content,
.card-action {
    font-size: 17px;
}

.card-action {
    padding-top: 0 !important;
}

.card-title {
    border-bottom: 1.5px solid;
    display: inline-block !important;
    margin-bottom: 5% !important;
    font-weight: bold;
}

.card:hover {
    -webkit-box-shadow: 6px 9px 15px -4px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: 6px 9px 15px -4px rgba(0, 0, 0, 0.81);
    box-shadow: 6px 9px 15px -4px rgba(0, 0, 0, 0.81);
}

.card a,
.card a:link,
.card a:visited,
.card a:hover,
.card a:focus {
    color: white !important;
}

.more {
    margin-top: 5%;
}

.more a,
.more a:hover,
.more a:focus,
.more a:visited {
    color: #1d4ce7;
    text-transform: uppercase;
}

.more a {
    position: relative;
    text-decoration: none;
}

.more a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #1d4ce7;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.more a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#contact {
    position: relative;
    padding: 0;
}

.profilePic {
    border-radius: 50%;
    width: 100%;
    margin-bottom: 10%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.profilePic:hover {
    -webkit-filter: grayscale(50%);
    filter: grayscale(0);
}

#contact .icons>a {
    padding-left: 3vh;
    color: black;
    outline: none;
}

#contact .icons a:visited {
    color: black;
}

#contact .icons>a:hover {
    color: #093bdd !important;
}

#contact .icons>a:link {
    color: black;
}

#contact .icons i {
    padding-top: 0;
    font-size: 50px;
    transition: transform .3s;
    transition: color 0.2s linear;
}

#contact .icons a:hover i {
    transform: scale(1.5);
}

#contact svg {
    position: absolute;
    bottom: 0;
}

#scrolltotop {
    padding: 0;
    display: none;
    background: white;
    transition: all 1s ease;
}

#scrolltotop i {
    font-size: 55px;
    position: fixed;
    bottom: 30px;
    right: 40px;
    color: #323232;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: all 1s ease;
    z-index: 1 !important;
    opacity: 0.8;
}

#scrolltotop i:hover {
    color: #093bdd;
}

@media only screen and (min-width:993px) {
    .skills,
    .projects,
    .contacts {
        height: 100vh;
        margin-bottom: 0;
    }
}

@media only screen and (min-width:993px) and (max-width:1140px) {
    .card-title {
        font-size: 23px !important;
    }
    .card-content,
    .card-action {
        font-size: 15px;
    }
}

@media only screen and (min-width:743px) and (max-width:1169px) {
    .about h1 {
        font-size: 65px;
        font-weight: 600;
        line-height: 100px;
    }
    .hello {
        font-size: 28px;
        margin-left: 7%;
    }
    .text {
        margin-left: 15%;
    }
    .overlay a {
        font-size: 30px;
    }
    #skill h1,
    #project h1,
    #contact h1 {
        font-size: 58px;
        font-weight: 600;
    }
    #skill h3 {
        font-size: 35px;
        ;
    }
    #skill li {
        font-size: 20px;
    }
}

@media only screen and (min-width:600px) and (max-width:743px) {
    .about h1 {
        font-size: 56px;
        font-weight: 600;
        line-height: 100px;
    }
    .hello {
        font-size: 28px;
        margin-left: 4%;
    }
    .text {
        margin-left: 10%;
    }
    .overlay a {
        font-size: 25px;
    }
    #hamburger {
        width: 35px;
    }
    #skill h1,
    #project h1,
    #contact h1 {
        font-size: 50px;
        font-weight: 600;
    }
    #skill h3 {
        font-size: 30px;
        ;
    }
    #skill li {
        font-size: 20px;
    }
}

@media only screen and (min-width:320px) and (max-width:600px) {
    .about h1 {
        font-size: 48px;
        font-weight: 600;
        line-height: 80px;
    }
    .hello {
        font-size: 20px;
        margin-left: 7%;
    }
    .text {
        margin-left: 15%;
    }
    .words {
        display: block;
    }
    .overlay a {
        font-size: 25px;
    }
    #hamburger {
        width: 30px;
        height: 30px;
    }
    #skill h1,
    #project h1,
    #contact h1 {
        font-size: 36px;
        font-weight: 600;
    }
    #skill h3 {
        font-size: 28px;
        margin-bottom: 2%;
        text-align: center;
    }
    #skill ul li {
        font-size: 20px;
        margin-bottom: 0;
        text-align: center;
    }
    #skill ul {
        margin-top: 0;
    }
    .card-title {
        font-size: 20px !important;
    }
    .card-content,
    .card-action {
        font-size: 15px;
    }
    .more h5 {
        font-size: 20px;
    }
    .card {
        margin-bottom: 0;
        margin-top: 4%;
    }
}

@media only screen and (max-width:345px) {
    .about h1 {
        font-size: 45px;
        font-weight: 600;
        line-height: 80px;
    }
    .hello {
        font-size: 15px;
        margin-left: 5%;
    }
    .text {
        margin-left: 10%;
    }
    .words {
        display: block;
    }
    .overlay a {
        font-size: 20px;
        width: 100%;
    }
    #hamburger {
        width: 20px;
        height: 20px;
    }
    #skill h1,
    #project h1,
    #contact h1 {
        font-size: 36px;
        font-weight: 600;
    }
    #skill h3 {
        font-size: 28px;
        margin-bottom: 2%;
        text-align: center;
    }
    #skill ul li {
        font-size: 20px;
        margin-bottom: 0;
        text-align: center;
    }
    #skill ul {
        margin-top: 0;
    }
    .more h5 {
        font-size: 18px;
    }
}